
    <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">

        <!--
    		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
    		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
    	-->

        	<div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://localhost:3000" class="simple-text">
                        PUPPY PAD
                    </a>
                </div>

                <ul class="nav" >
                    <li class="active">
                        <a href="/pets/3">
                            <i class="ti-user"></i>
                            <p>Archie</p>
                        </a>
                    </li>
                    <li>
                        <a href="/pets/6">
                            <i class="ti-user"></i>
                            <p>Bijou</p>
                        </a>
                    </li>
                    <li>
                        <a href="/pets/5">
                            <i class="ti-user"></i>
                            <p>Morty</p>
                        </a>
                    </li>
                    <li>
                        <a href="user.html">
                            <i class="ti-user"></i>
                            <p>Health</p>
                        </a>
                    </li>
                    <li>
                        <a href="table.html">
                            <i class="ti-view-list-alt"></i>
                            <p>Places</p>
                        </a>
                    </li>
                    <li>
                        <a href="typography.html">
                            <i class="ti-text"></i>
                            <p>Typography</p>
                        </a>
                    </li>
                    <li>
                        <a href="icons.html">
                            <i class="ti-pencil-alt2"></i>
                            <p>Icons</p>
                        </a>
                    </li>
                    <li>
                        <a href="/photo_maps">
                            <i class="ti-map"></i>
                            <p>Maps</p>
                        </a>
                    </li>

                </ul>
        	</div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar bar1"></span>
                            <span class="icon-bar bar2"></span>
                            <span class="icon-bar bar3"></span>
                        </button>
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>
                    <div class="collapse navbar-collapse">

                        <!-- dashboard navbar stuff -->

                    </div>
                </div>
            </nav>


            <div class="content">
              <div class="content">
                          <div class="container-fluid">
                              <div class="row">
                                  <div class="col-lg-4 col-md-5">
                                      <div class="card card-user">
                                          <div class="image">
                                              <img src="assets/img/background.jpg" alt="..."/>
                                          </div>

                                          <!-- USER PROFILE -->
                                          <div class="content">
                                              <div class="author">
                                                <img class="avatar border-white" src="<%= @pet.image %>" alt="..."/>
                                                <h4 class="title"> <%= @pet.name %> <br/>
                                                   <a href="#"><small><%= link_to "Edit Info", edit_pet_path(@pet) %></small></a>
                                                </h4>
                                              </div>
                                              <p class="description text-center">
                                                <%= @pet.breed %> | <%= @pet.sex %> <br>

                                              </p>
                                          </div>

                                          <hr>

                                          <div class="text-center">
                                              <div class="row">
                                                  <div class="col-md-3 col-md-offset-1">
                                                      <h5>Health:</h5>
                                                  </div>
                                                  <div class="col-md-4">
                                                      <h5>Upcoming Appointments:<br /><small>Used</small></h5>
                                                  </div>
                                                  <!-- <div class="col-md-3">
                                                      <h5>24,6$<br /><small>Spent</small></h5>
                                                  </div> -->
                                              </div>
                                          </div>
                                      </div>
                                      <div class="card">
                                          <div class="header">
                                              <h4 class="title">Places</h4>
                                          </div>
                                          <div class="content">
                                              <ul class="list-unstyled team-members">
                                                          <li>
                                                              <div class="row">

                                                              </div>
                                                          </li>
                                                      </ul>
                                          </div>
                                      </div>
                                  </div>

                                  <!-- PROFILE EDIT-->
                                  <div class="col-lg-8 col-md-7">
                                      <div class="card">
                                          <div class="header">
                                              <h4 class="title">Photos</h4>
                                          </div>
                                          <div class="content">

                                      </div>
                                  </div>


                              </div>
                          </div>
                      </div>
            </div> <!-- CONTENT --->



        </div>
    </div>
