<div id="profile-style">


  <div class="container">
    <div class="row">
        <br>
        <br>
        <br>

        <div class="col-md-4">
          <h4 class="title"> <%= @pet.name %> <br/>
            <div>
              <img class="img-fluid" src="<%= @pet.image %>"/>
            </div>
          <a href="#"><small><%= link_to "Edit Info", edit_pet_path(@pet) %></small></a>
          </h4>
          <%= @pet.breed %> | <%= @pet.sex %> <br>
        </div>

        <div class="col-md-8">
          <div class="container">
          <%= link_to "Photos", pet_pet_photos_path(@pet) %> |
          <%= link_to "Add a Photo", new_pet_pet_photo_path(@pet) %> |
          <%= link_to "Medical Records", pet_medical_records_path(@pet) %> |
          <%= link_to "Add a Medical Record", new_pet_medical_record_path(@pet) %>
        </div>

    </div>
  </div>
</div>
