
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <canvas id="health_chart"></canvas>
    <script>
    $(document).ready(function(){
      var data = {
      	labels : <%= @date.to_s.html_safe %>,
      	datasets : [
      		{
            label : "Weight",
            cubicInterpolationMode : "monotone",
            borderColor : "rgba(109,204,204,1)",
            spanGaps : true,
            backgroundColor: 'rgba(109,204,204,0.2)',
      			// data : fakeData.reverse()
      			data : <%= @weight %>
      		},
      	]
      }

      var ctx = document.getElementById('health_chart').getContext('2d');
      var myNewChart = new Chart(ctx , {
          type: "line",
          data: data,
          options: {
            scales: {
              yAxes: [{
                scaleLabel: {
                  display: true,
                  fontSize: 20,
                  labelString: 'Weight (lbs)'
                }
              }],
              xAxes: [{
                scaleLabel: {
                  display: true,
                  fontSize: 19,
                  labelString: 'Date (YYY-MM-DD)'
                }
              }]

            }
          }
      });
    })
    </script>
<div>

  <div class="container">
    <h2>Medical Records</h2>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Condition/Procedure</th>
        <th>Charges</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @medical_record.each do |m| %>
      <tr>
        <td><%= m.date %></td>
        <td><%= m.weight %></td>
        <td><%= m.condition_procedure %></td>
        <td><%= m.charges %></td>

      <% end %>
    </tbody>
  </table>
  </div>
