<%= simple_form_for @medical_record,
  :url => url_for(:action => 'create', :controller => 'medical_records'),
  :method => 'post' do |f| %>
  <%= f.input :date, :placeholder => "YYYY-MM-DD" %>


  <%= f.input :weight, :label => "Weight (lbs)", :required => false %>
  <%= f.input :condition_procedure, :label => "Condition/Procedure" %>
  <%= f.input :charges, :required => false  %>
  <%= f.button :submit, "Save" %>
<% end %>


  <div class="container">
    <h2>Medical Records</h2>
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Weight</th>
        <th>Condition/Procedure</th>
        <th>Charges</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @medical_record.each do |m| %>
      <tr>
        <td><%= m.date %></td>
        <td><%= m.weight %></td>
        <td><%= m.condition_procedure %></td>
        <td><%= m.charges %></td>

      <% end %>
    </tbody>
  </table>
  </div>
