<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Pad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap core CSS     -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="assets/css/animate.min.css" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link href="assets/css/puppy-pad.css" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>
    <link href="assets/css/themify-icons.css" rel="stylesheet">

  </head>

  <body>
    <!-- <div class="wrapper">
        <div class="sidebar" data-background-color="white" data-active-color="danger">
          <div class="sidebar-wrapper">
            <div class="logo">
              <a href="localhost:3000" class="simple=text">PUPPY PAD</a>
            </div>

            <ul class="nav">
              <% if user_signed_in? %>
                <li>
                  <%= link_to "Add a Pet", new_pet_path %>
                </li>
                  Hello <%= current_user.full_name %>
                <li>
                  <%= link_to "Logout", sessions_path, method: :delete,
                           data: {confirm: "are you sure you want to log out?"}%>
                </li>
                <% else %>
                  <%= link_to "Login", new_session_path %> |
                  <%= link_to "Sign Up", new_user_path %>
                <% end %>
              </li>
            </ul>

          </div>
        </div>
    </div>

 -->








    <%= link_to "Home", root_path %>
    |
    <% if user_signed_in? %>
      <%= link_to "Add a Pet", new_pet_path %>
      |

      Hello <%= current_user.full_name %>,
      <%= link_to "Logout", sessions_path, method: :delete,
               data: {confirm: "are you sure you want to log out?"}%>
    <% else %>
      <%= link_to "Login", new_session_path %> |
      <%= link_to "Sign Up", new_user_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
